@charset "UTF-8";
/* CSS Document */

body{
	font-family: "Karla", sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
}

img{
	border:none;
}

a{
	color:#c80815;
}



#logo{
	width: 300px;
}

.contenitore{
	width:100%;
	max-width: 1080px;
	margin: 0 auto;
}

.testata{
	text-align: center;
	width:100%;
}

.menu ul{
	margin: 0px auto 50px;
	padding:20px 0px;
	list-style: none;
	text-align:center;
	border-top: 1px solid black;
	max-width: 1080px;
}

.menu ul li{
	display:inline;
	margin: 20px;
	padding: 20px;
}

.menu ul li a:link, .menu ul li a:active, .menu ul li a:visited{
	font-size:18px;
	color:#000;
	text-decoration:none;
	text-transform: uppercase;
}
.menu ul li a:hover{
	color:#c80815;
}

.menu ul li a.attivo{
	color:#c80815;
	border-bottom: 2px solid #c80815;
}

.contenuto .colonna-sinistra{
	width:40%;
	float:left;
	text-align: center;
}

.contenuto .colonna-sinistra img{
	max-width: 100%;
}

.contenuto .colonna-destra{
	width: 50%;
	float: left;
	padding: 0 20px;
}
.footer{
	clear:both;
	padding-top: 200px;
	position:relative;
	width:100%;
	margin:0;
}

/*------- PORTFOLIO --------*/

.portfolio{
	margin-top: 60px;
	}

.progetto{
	display:inline-block;
	width:20%;
	margin: 0 2%;
}

.progetto img{
	max-width: 100%;
}

.progetto img {
  transition: filter .3s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); 
}
.progetto img:hover {
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
}


/*------- CONTATTI --------*/


ul.contatti{
	list-style:none;
	margin:0;
	padding:0;
	font-size:22px;
}

ul.contatti li{
	height:60px;
}

.contatti a{
	color:#000;
	text-decoration: none;
}

.contatti a:hover{
	color:#c80815;
}


.contatti i{
	color:#c80815;
	font-size: 30px;
}




/*------- SPINNER --------*/


#ufo1{
height: 30px;
width: 10px;
transform: translate(-50%, -50%);
background-color: #c80815;
position: absolute;
top: calc(50% - 25px);
left: calc(49% - 15px);
animation: pulse 1.2s infinite alternate;
}
#ufo2{
height: 50px;
width: 10px;
transform: translate(-50%, -50%);
background-color: #c80815;
position: absolute;
top: calc(50% - 25px);
left: calc(50% - 15px);
animation: pulse 2.4s infinite alternate;
}
#ufo3{
height: 30px;
width: 10px;
transform: translate(-50%, -50%);
background-color: #c80815;
position: absolute;
top: calc(50% - 25px);
left: calc(51% - 15px);
animation: pulse 1.2s infinite alternate;
}
@keyframes pulse {
  from{transform: scaleY(2)}
  to{transform: scaleY(1)}
}


/*------- MOBILE --------*/

@media screen and (max-width: 720px){
	.menu ul li a{
		font-size:14px !important;
	}
	.menu ul li{
		margin: 10px;
		padding: 0px;
	}
	
	.contenuto .colonna-sinistra{
		width:auto;
		float:none;
	}
	.contenuto .colonna-destra{
		width:auto;
		float:none;
	}
	.progetto{
		display:inline-block;
		width:45%;
		margin: 20px 2%;
	}
	p{
		padding:0 20px;
		}
}